html,
body {

    margin: 0;
    padding: 0;
    background-color: black;
}

body {
    background-color: lightgrey;
}

#wrap {

    width: 70%;
    margin: 0 auto;

}

header img {
    height: 175px;
    width: 885px;
    ;
}

nav {
    background: linear-gradient(orange, blue);
    width: 180;
    height: 50;
    font-family: 'Playfair Display', serif;
    font-family: 'Indie Flower', cursive;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}

nav ul {
    margin: 0;
    text-align: center;
    padding: 15px;
}

nav li {
    display: inline;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0 5%;
    width: 196;
    height: 50;
}

nav a:hover {
    background-color: white;
    color: royalblue;
}

section {}

.twitter-timelime {
    padding-top: 100px;

}

article h1 {
    width: 945px;
    font-size: 50px;
    margin: 5px;
    color: white;
    text-align: middle;
    background: linear-gradient(orange, blue);
    font-family: 'Indie Flower', cursive;
    font-family: 'Amatic SC', cursive;
}

article p {
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    font-family: 'Indie Flower', cursive;
    font-family: 'Amatic SC', cursive;
}

article img {
    width: 950px;
    height: 350px;
}

footer {
    background-color: white;
    background: linear-gradient(orange, blue);
    width: 180;
    height: 50;
}

footer ul {
    display: inline;
    font-size: 11px;
    text-align: center;
}

footer li {
    display: inline;
    padding: 0px 0px 0px 70px;

}

footer p {
    font-size: 11px;
    padding: 30px 0px 0px 0px;
    text-align: center;
    color: white;
}

footer a {
    color: white;
}

form {
    width: 50%;
    margin: 0 auto;
}

textarea {
    width: 50%;
}

fieldset {
    background: linear-gradient(orange, blue);
    border-radius: 10px;
    color: white;
}

legend {
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    font-family: 'Indie Flower', cursive;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 30px;
    color: black;
    padding: 0px 10px;
}

input {
    background-color: white;
}

.button {
    background-color: navy;
    color: white;
    font-size: 1.5em;
    font-variant: small-caps;
}

@media screen and (max-width: 600px) {
    body {
        background-color: #000;
    }

    #wrap {
        width: 99%;
    }

    nav li {
        display: block;
        text-align: left;
    }

    nav ul,
    nav li {
        padding: 0;
        margin: 0;
    }

    nav {
        padding: 0;
        width: 99%;
    }

    article h1 {
        float: none;
        width: 99%
    }

    header {
        width: 99%;
    }

    header img {
        width: 99%;
    }
